/*Reset css*/
.form-control::-moz-placeholder{ color:#969696 !important; font-weight:normal; }
ul,li{ list-style: none;}
a{ color:#fff; text-decoration:none; }
a:hover,a:focus{ text-decoration: none; outline: none; }
/*Reset css*/
html{ height: 100%; min-height: 100%; position: relative;}
body{ background: #fff; margin: 79px 0 0px 0; font-family: arial;transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s; }
.container{ max-width: 1003px;}
.mt40{ margin-top: 40px; }
.clear{ clear: both; }
/*====header css start here====*/
.header{ background: #ffffff;  }
.header .navbar-header{ margin: 0;}
.header .navbar-nav{ margin: 25px 0 0 !important;}
.header .navbar-default{ background: #ffffff; min-height: 80px; border-bottom:1px solid #cccccc!important;}
.header .navbar-default { border: 0 none; }
.header .navbar-default li { margin-left: 10px;}
.header .navbar-default li a{ color: #000; font-family: 'muliregular'; font-size: 15px; padding: 5px 10px; transition: all .5s ease 0s; border-radius: 5px; }
.header .navbar-default li .cart-btn{ padding: 0!important;}
.header .navbar-default li a:hover,.header .navbar-default li.active a{  background: #C61A1A ; color: #fff ;}
.header .navbar-brand{ float: none; height: auto; padding: 15px 0 0 0; display: inline-block; vertical-align: top; margin: 0!important}
/*====body sec start here=====*/
.bodySec{ padding: 30px 0;}
.imgCap{ position: absolute; background: #646464; z-index: 99; bottom: 0; left:0; width:100%; padding: 5px 0 5px 10px; text-align: left; min-height: 90px;}
.imgCap img{ border-radius: 40px;
    height: 65px;
    width: 65px;}
.imgCap figure{ float: right; margin-right: -15px; }
.imgCap article{ margin-right: 67px;}
.imgCap article p{color: #fff; font-family: arial; font-size: 14px; margin-bottom: 0; }
.imgCap article p span{ color: #fff;}
.pro-box > img{  max-width: 100%;
    /* min-width: 100%; margin-right: -10px; */}
.ratings ul{ display: inline-block; padding: 0;  margin: 0;}
.ratings ul li{ color: #cbcbcb; font-size: 15px; /*width: 16px;*/}
.ratings ul li.active{ color: #fac51c/*#ff5a00*/ /*#fffe00*/; }
.ratings span{ color: #fff;}
.pro-box{ position: relative; margin-bottom: 15px; border: 1px solid #000000; width: 304px;height:300px; text-align: center; }
.home-slider{background: url("../images/slider1.jpg") no-repeat scroll 0 0  rgba(0, 0, 0, 0); padding:120px 0; background-size: cover; }
.become-btn{background: none repeat scroll 0 0 #ff5a00;
color: #ffffff !important;
height: 30px;
margin-top: 0px;
padding: 5px 7px!important; transition: all 0.7s ease 0s;}
.become-btn:hover{background: none repeat scroll 0 0 #C61A1A;
color: #ffffff !important;
}
.cart-btn{margin:-15px 0 0 8px;padding: 0px !important; background: url(../images/cart-icon.jpg) no-repeat 0 0; width: 44px; height: 48px; color: #FF650F!important;}
.header .navbar-default li .cart-btn {
    font-size: 12px;
    padding: 25px 6px 0 19px !important;
    text-align: center;
    overflow: hidden;
    
}
.yumplate-header {background: none repeat scroll 0 0 #777777;
    color: #ffffff;
    font-family: "muliregular";
    padding: 6px 10px;}

.cart-btn:hover{background:none !important; }
.header .navbar-default li a.cart-btn:hover{ background: url(../images/cart-icon.jpg) no-repeat 0 0!important;color: #FF650F;}
.caption{width:100%; padding:20px 0px; background:rgba(0,0,0, 0.5);}
.caption h1{color: #ffffff;
font-family: helvetica;
font-size: 30px;
font-weight: bold;
letter-spacing: 3px;
margin: 0;
text-align: center;
text-shadow: 2px 2px 3px #000000;
text-transform: uppercase;}


.btn-explore{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
color: #ffffff;
height: 40px;
line-height: 26px;
margin-right: 30px;
text-align: center;
text-decoration: none;
width: 133px;}
/*.btn-h-works{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); color: #ffffff; height: 40px; line-height: 26px; text-align: center; text-decoration: none; width: 133px; }*/

/*.btn-row{width:310px; margin:0px auto; margin-top:20px;}*/
.feature-products {
  /*margin-bottom: 200px;*/
}
.title-name{ font-size: 24px; margin: 60px 0 25px; letter-spacing: 2px; text-align: center; text-transform: uppercase;}

.steps{ background: url(../images/its_simple_bg.jpg) no-repeat 0 0 / cover; height: 375px; text-align: center; line-height: 375px;  background: url("../images/its_simple_bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;}
.steps img{ line-height: 375px; text-align: center; display: inline-block;}
.yumCommunity{ margin-bottom:66px; }
.com-thumb{ border: 1px solid #777674; background: #d7d7d7; padding: 10px 10px 10px 10px; min-height: 160px;
    overflow: hidden;  margin-top: 10px; cursor: inherit!important; }
.com-thumb h5{ font-size: 14px; font-weight: bold; text-align: justify; color: #343434; margin: 0 0 10px 0; letter-spacing: 2px;}
.com-thumb figure{ margin-top: 12px;}
.com-thumb p{ text-align: justify;  color: #343434; letter-spacing:1px; line-height: 28px; /*padding-right: 10px;*/}

/*====footer css start here====*/
.footer {
  background: none repeat scroll 0 0 #ededed;
  bottom: 0;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.footer h4{ font-size: 18px;  margin: 0px 0 20px; text-transform: uppercase; font-family: "muliregular";}
.footerNav{ padding: 0; margin: 5px 0 0;}
.footerNav li { display: inline-block; margin-right: 5px;  color: #696969; font-size: 14px; }
.footerNav li a{ display: inline-block;  color: #343434; font-size: 14px; transition: all 0.7s ease 0s;}
.footerNav li a:hover{color:#C61A1A ; }
.footerNav{}
.social-icons{ text-align: center; padding: 0; }
.social-icons li { display: inline-block; margin-right: 7px; }
.social-icons li a{ height: 28px; width: 28px; display: inline-block; transition: all 0.6s ease-in-out 0s; }

.icon1{ background: url(../images/fb_grey.png) no-repeat 0 0; }
.icon2{ background: url(../images/google_grey.png) no-repeat 0 0;  }
.icon3{ background: url(../images/insta_grey.png) no-repeat 0 0;  }
.icon4{ background: url(../images/twitter_grey.png) no-repeat 0 0;  }
.icon5{ background: url(../images/linkedin_grey.png) no-repeat 0 0; }
.icon6{ background: url(../images/youtube_grey.png) no-repeat 0 0; }

.icon1:hover{ background: url(../images/fb_color.png) no-repeat 0 0; }
.icon2:hover{ background: url(../images/google_color.png) no-repeat 0 0;  }
.icon3:hover{ background: url(../images/insta_color.png) no-repeat 0 0;  }
.icon4:hover{ background: url(../images/twitter_color.png) no-repeat 0 0;  }
.icon5:hover{ background: url(../images/linkedin_color.png) no-repeat 0 0; }
.icon6:hover{ background: url(../images/youtube_color.png) no-repeat 0 0; }


/*=====meals pages====*/
.meals-container{ margin: 0 auto; max-width: 880px; padding: 0 15px}
.bodySec{ padding: 40px 0; background: #f9f9f9; }
.firstInfo{ /* border: 1px solid #666666; */  margin-bottom: 20px; margin-top: 40px; }
.firstInfo figure{ float:left; }
.firstInfo figure img{ border-radius:50px; }
.firstInfo article{  margin-left: 78px; }
.firstInfo article h4{ color: #666; font-size: 18px; margin: 0 0 5px; text-transform: uppercase;  font-family: "muliregular";}
.firstInfo article ul{ padding: 0; }
.firstInfo article { padding-top: 12px; }
.firstInfo article > ul > li{ display: inline-block; margin-left: 30px; color: #666; font-size: 14px; line-height: 19px;}
.firstInfo article > ul > li > i{ display: inline-block; margin-right: 6px; vertical-align: middle;}
.firstInfo article ul li:first-child{ margin: 0; }
.loaction-icon{ background: url(../images/location-icon.png) no-repeat 0 0; width: 14px; height: 18px; }
.delivery-icon{ background: url(../images/delivery-icon.png) no-repeat 0 0; width: 19px; height: 12px; }
.avrage-icon{ background: url(../images/comment-icon.png) no-repeat 0 0; width: 17px; height: 15px; }
.home-icon{ background: url(../images/home-icon.png) no-repeat 0 0; height: 22px;
    width: 18px; }
.parking-icon{ background: url(../images/parking.png) no-repeat 0 0; height: 22px;
    width: 18px;}
.rating-line{ color: #fac51c;display: inline-block; }
.rating-line span{ /*height: 10px; width: 12px;*/ font-size: 15px; display: inline-block; /*background: url(../images/star.png) no-repeat 0 0;*/ color: #fac51c/*#ff5a00*/; }
.page-title{ background: #707070; padding: 8px 15px 8px 10px;}
.page-title h4{ color: #fff; font-size: 18px; margin: 7px 0 5px; text-transform: uppercase; font-family: "muliregular";  }
.page-title h5{color: #ffffff;
    float: right;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin: 5px 75px 0 0;
	font-family: "muliregular";}

.mrl15{ margin-right: 15px!important;}
.ml15{ margin-left: 0px!important;}
.mealThumb{ background: #ffffff; border: 1px solid #000000; margin: 15px 0 30px;  min-height: 650px; }
.mealThumb h5{ padding: 12px 10px 7px; margin: 0; background: #ececec; color: #343434; font-weight:normal; font-family: "muliregular";
    font-size: 14px; text-transform: uppercase;  text-align: left;} 
.mealThumb h5 span{ } 
.mealThumb figure{}
.mealThumb figure img{ max-width: 100%; /*width: 100%; max-height: 325px;*/ }
.mealThumb article{ padding:  15px 10px }
.mealThumb article p{ margin-top: 10px;}
.rating-wrap{ margin: 5px 0 20px; text-align: left;}
.yamplate-review{}
.yamplate-review{ padding: 30px 0; border-top: 1px solid #6f6f6f;}
.yamplate-review h4{ margin: 0; color: #666; font-size: 18px; text-transform: uppercase; font-family: "muliregular"; }
.yamplate-review h5{ color: #666; font-size: 16px; margin: 15px 0; }
.yamplate-review h5 i.like-thumb{ width: 17px; height: 15px; background: url(../images/facebook_gray.png) no-repeat 0 0; display: inline-block; margin-right: 6px;}
.like-btn{ font-size: 14px;  color: #666; text-decoration: none; transition: all .5s ease 0s}
.like-btn:hover{ font-size: 14px;  color: #FF5A00; text-decoration: underline;}
.total-rates{ padding-left: 0; margin-bottom: 30px;}
.total-rates li:not(:last-child){ margin-bottom: 5px;}
.total-rates li strong{ color: #666; }
.reviewLine{  /* border: 1px solid #6f6f6f; */
    padding: 0px;}
.reviewLine li{ margin-bottom: 0px;}	
.reviewLine li figure{ float: left; }
.reviewLine li article{ margin-left: 85px; padding-top: 8px;}
.reviewLine li article h4{ font-size: 15px; font-weight: bold; text-transform: none;  color: #666; text-transform: capitalize; }
.reviewLine li article p{  font-size: 15px;text-transform: none;  color: #666; text-transform: capitalize; }
.readMore{ padding: 5px 10px; background: #e8e8e8; color: #666; font-size: 14px; border:0 none; font-weight: bold; transition: all .5s ease 0s}
.readMore:hover{ color: #d82e08; background: #c3c3c3;}
.chef-article{ margin: 25px 0; clear: both; }
/*.chef-article figure{ float:left; }*/
.chef-article figure {
  border-radius: 100%;
  float: left;
  height: 135px;
  overflow: hidden;
  width: 135px;
}
.chef-article p{ margin-left: 147px; font-size: 14px; color: #666; padding-top: 15px;}

.logistiecs{  padding:0; margin-top: 20px; }
.logistiecs li .map{ margin: 18px 0;}
.logistiecs li{ margin-bottom: 8px;}
.logistiecs li i{ display: inline-block; vertical-align: middle; margin-right: 0px; width: 28px !important; }
.social-tab li {
  float: right;
  margin-right: 4px;
}
.social-tab  ul {
  padding: 0;
}
.social-tab {
  float: right;
  margin-left: 5px;
}
.social-tab img{
    background: #fff;
    margin-top: -8px;
    /*border-radius: 50%;
    width:75px;  */
}
.social-tab a:hover{
    opacity: 0.7;
    cursor: pointer;
}
.mealThumb figure {
  max-height: 325px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mealThumb figure:hover .social-tab {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  float: none;
  height: 100%;
  margin-left: 0;
  padding-top: 37%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.mealThumb figure:hover .social-tab li{
    float: none;
}
.product-details {font-size: 11px !important;
    line-height: 14px;
    overflow: hidden;
    padding-top: 0 !important;
    text-align: left !important;}
.order-heading{border-bottom: 1px solid #e2e2e2;  font-family: "muliregular";  padding-bottom: 5px; margin-bottom:20px;}
.order-table tr th:first-child {width:52%;}
.order-table tr th {font-family: "muliregular"; background: none repeat scroll 0 0 #ebebeb;}
.order-img {width:70px; border: 1px solid #595958;}
.order-table a {color:#FD5A00;  transition-duration: 0.5s;  transition-property: color, text;  transition-timing-function: linear, ease-in;}
.order-table a:hover {color:#B20010;}
.text-center {text-align:center;}
.order-summary-table tr th {font-family: "muliregular"; background: none repeat scroll 0 0 #ebebeb;}
.btn-cart{padding: 6px 10px; background:#ff5a00; font-family: "muliregular"; border-radius:4px; font-size:16px; border:none; color:#fff; text-align: center; transition: background-color 0.5s ease 0s; white-space: nowrap; }
.btn-cart:hover{background:#B00110; color:#fff; }
.main-order {padding: 10px 0px 20px 0px;}
.main-explore {padding: 10px 0px 20px 0px; min-height: 500px;}
.col-sm-3  .explore-img {height: 225px;
    width: 225px;}
.main-explore h4 {font-family: "muliregular";
    margin-top: 0 !important;
    text-transform: uppercase;}
.com-thumb.yum-story{cursor: pointer;}
/*12-2-15 */
.home-slider .btn-row { margin: 20px auto 0;  width: 440px; }
.home-slider .btn-row > form { float: left; margin-right: 4px; }
.home-slider #ProductRedirectUrlForm > input { padding: 5px; vertical-align: middle; border-radius:5px; height:34px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); border: 0; color:#fff; }
.btn-h-works{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); color: #ffffff; line-height: 20px; text-align: center; text-decoration: none; width: 133px; }
.navbar-default #exampleModal .modal-dialog{ /* width:400px; */ }  
.btn-h-works:hover{ color:#fff; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5)}
/* .com-thumb p{ width: 63%;} */
.community-img { width: 38% !important; text-align: right;}
.community-img img { /* bottom: 0;  position: absolute; */ width: 100px;}
.community-text {width: 63%;}
.feature-products h2{ border-bottom: 1px solid #dddddd; font-family: "muliregular"; padding-bottom: 5px; font-size: 36px; }
.feature-products h1{ border-bottom: 1px solid #dddddd; font-family: "muliregular"; padding-bottom: 5px; }
.feature-products figure.story-img-small { margin-bottom: 15px; margin-right: 15px; width: 120px; }
.feature-products figure.story-img-small > img { width: 100%; }
.feature-products .com-thumb { float: left; width: 100%; margin-bottom: 15px; }
.feature-products .com-thumb p{ padding-right: 150px; }

.com-thumb.yum-story{transition: all 0.5s ease 0s;}
.com-thumb.yum-story:hover { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); box-shadow: 0 0 5px #888; transition: all 0.5s ease 0s; border-radius:5px; }
.active-story{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); box-shadow: 0 0 5px #888; transition: all 0.5s ease 0s; border-radius:5px; }
.no-padding{ padding: 0!important; }
.order{ position: relative; }
.pop-up { /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);*/ 
	height: auto;
    
    overflow: hidden;
    position: fixed;
    right: 140px;
    top: 85px;
    width: 400px;
    z-index: 1;
    }


/*.chef-article figure img {border-radius: 70px; width: 135px; }*/
.chef-article figure img { width: 100%; }
.meals-para {margin-top: 5px;
    /* padding: 0 15px; */
	}
.main {margin:20px 0 25px;  min-height: 440px; }

label {
    display: inline-block;
    font-weight: normal !important;
    margin-bottom: 5px;
    margin-top: 5px !important;
    max-width: 100%;
}
.form-group {
    margin-bottom: 0 !important;
}
.ValidationErrors {color:red; font-size: 12px;}
.user-name {font-size: 16px;
    margin-left: 0 !important;
    padding: 3px 15px;
    text-align: right;}
.logout-btn {margin-right:15px;}
.red {color:#ff0000;}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: "muliregular";
    margin-bottom: 10px;
    margin-top: 20px;
}
.categories-link {color:#C61A1A ;  transition: all 0.7s ease 0s; font-weight:bold;}
.categories-link:hover{color:#333;}
.categories-link:focus{color:#C61A1A;}
.rating-wrap div {width: 90px; float:left; }
.rating-wrap svg  {width: 15px !important; height:15px !important; }
li:first-child {
    margin-bottom: 0px !important;
}

.nav-tabs > li > a {
    background: none repeat scroll 0 0 #ffffff !important;
    border-left:  1px solid #dddddd;
    border-right:  1px solid #dddddd;
    border-top:  1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    color: #666666;
    line-height: 1.42857;
    margin-right: 2px;
    padding: 8px 15px !important;
    border-bottom: 0;
    margin-bottom: -1px;
}
.nav > li > a:hover, .nav > li > a:focus {
   /*  background-color: #f3f3f3 !important;
    color: #666666 !important; */
    text-decoration: none;
}

*:before, *:after {
    box-sizing: border-box;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    
    background-color: #f3f3f3 !important;
    
}

.tab-content > .tab-pane {
    
    margin-top: 10px;
    
}
.loader-img {text-align:center;}
.reviewLine li {min-height: 80px;
    padding: 8px 0px; /* border-bottom: 1px solid #6f6f6f; */}
	.reviewLine li:last-child { border-bottom: none;}
.reviewLine li img {border-radius: 40px;
    min-height: 65px;}

.modal-open {
    
	padding-right:0px !important;
	overflow-x: hidden !important;
    overflow-y: scroll !important;
}
.index-rating {color:#fff !important;}
.index-rating div {width:80px ; float:left;}
.index-rating svg {width:14px; height:14px;}
.readless {background: none repeat scroll 0 0 #e8e8e8;
    border: 0 none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.5s ease 0s;}
.readless:hover { background: none repeat scroll 0 0 #c3c3c3;
    color: #d82e08;}
.user-comment {background: none repeat scroll 0 0 #e8e8e8;
    border: 0 none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.5s ease 0s;}
.user-comment:hover { background: none repeat scroll 0 0 #c3c3c3;
    color: #d82e08;}
.meals-para span {padding-left:1px; margin-bottom:0px;}
.meals-para {text-align:center;}
.meals-para p {text-align:left;}

#navbar .navbar-right .btn-group{font-family: "muliregular";  /* cursor: pointer; */
    font-size: 16px; transition: all 0.7s ease 0s; border-radius: 5px; padding: 0px 10px; }
#navbar .navbar-right .btn-group:hover{/* background: #ff5a00 !important; color: #fff !important; */}
#navbar .navbar-right .btn-group button{border:1px solid transparent !important; background:transparent !important; padding: 10 ; box-shadow: none;} 

.modal-footer .login-facebook img {width: 174px !important;}
.modal-footer .login-facebook { float: left;
    margin-top: 0;
    width: 190px !important;}
.signup img {margin:15px 0 0 18px;}
.modal-title {
    font-family: "muliregular";
}
.dropdown-menu .logout-btn {background:#ff5a00 !important; color:#fff !important;}

.ui-widget-content {
    background: none repeat scroll 0 0 #ffffff !important;
    border: 1px solid #aaaaaa !important;
    color: #222222 !important;
    opacity: 0.8 !important;
	font-size:12px !important;
}
.ui-menu .ui-menu-item {
    cursor: pointer;
    list-style-image: none;
    margin: 0 !important;
    min-height: 0;
    padding: 3px 1em 3px 0.4em;
    position: relative;
	border:1px solid #e2e2e2 !important;
}
.ui-menu .ui-menu-item:hover {
    background:#e2e2e2 !important;
	
}


.nav-tabs .active a{border-bottom: 3px solid #ff5a00 !important; padding-bottom: 7px !important;}
/*.nav-tabs  a{border-bottom:1px solid transparent  !important;}*/
p {
    font-size: 14px;
    margin: 0 0 10px;
}
.recipe-rating {font-size: 14px;}
.recipe-rating svg {width: 14px; height:14px;}

.simpleSec .steps img {/* width: 100% !important; */}

.container h2 { border-bottom: 1px solid #dddddd;
    font-family: "muliregular";
    padding-bottom: 5px;}
	
	
.text-center{text-align:center !important;}

.signup {float: left;
    width: 225px; transition: all 0.5s ease 0s;}
.signup:hover img {opacity:0.9;}
.signup img {margin-top: 0px !important;}
.signup-text { float: left;
    margin-left: 40px;
    width: 220px;}
.signup-text h4 { 
    margin-top: 10px !important;
	color:#000;
	font-family: "muliregular";
    }
.sign-social {cursor: pointer;
    margin: 20px auto;
    position: relative;
    width: 230px; min-height: 47px;}
.sign-social:hover {/* background: none repeat scroll 0 0 #8ab0e3; */
    }
	
.signup-main {border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px 70px;
    position: relative;
    max-width: 650px;}
.signup-main h3 {font-family: "muliregular"; font-size:30px;}
#UserRegisterForm input {margin-bottom:10px;}

.alert-danger {
    background-color: #e23737 !important;
    border-color: #d12626 !important;
    color: #ffffff !important;
}

.starRating{
  display        : inline-block;
  position       : relative;
  height         : 15px;
  background     : url('../img/stars.png') repeat-x 0 0;
  background-size:15px;
  vertical-align : bottom;
  margin-left: 10px;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 18px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 15px;
  height   : 16px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 16px;
  margin-top: 3px!important;
}

.starRating span{
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('../img/stars.png') repeat-x 0 -33px;
  background-size:15px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url('../img/stars.png') repeat-x 0 -33px;
  background-size:15px;
}

.mealThumb .ratings {margin: 5px 0 20px;
    text-align: left;}
	
.yum-story {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    transition: all 0.5s ease 0s;
} 
.tab-pane {
    text-align: left;
}

.text-right1 {float: right !important;}

.yum-contact-main {float: left;
    margin: -20px 0 0 1px;
    padding-left: 10px;
    width: 62%;}
	
.no-padding-right {padding-right:0px !important;}
.main p {text-align:justify;}
.main p img {border:1px solid #333;}

.main-explore .col-sm-9 p {text-align:justify;}


.delete-popup-main {background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    padding: 15px;}
	
.error-message {color:#ff0000 !important;}

.social-icons .fb-send { margin-top: -8px;
    padding-right: 5px !important;}
	
.social-icons .twitter-share-button {width: 80px !important;}
#map_canvas {width: 470px !important;}

#UserTerm {float: left;
    margin-right: 8px;}
	
html, body, #load { height: auto; width: 100%; }
#load { position    : fixed;   z-index     : 1; /* or higher if necessary */  top: 0; left: 0; overflow: hidden;text-indent : 100%; font-size: 0; background: url(loader-larger.gif) center no-repeat; }
.full_load{ background-color: #000; opacity:0.5;left: 0;position: absolute;right: 0;top: 0; }

.uppercase {text-transform:uppercase !important;}
#map_canvas .gm-style-iw {text-align: left;} 
.main-order h4 {font-family: "muliregular";}
.main-order #meal-total {font-weight:bold !important;}
.forget-link {color:#343434;}
/**/
.yum-meals{ color: #343434; }
.story-yum { cursor: pointer !important; }
#forget_pass.forget-link { /*  color: #989898;*/ text-transform: capitalize!important; }
.special_comment{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  margin-bottom: 15px;
}
/*section.feature-products {
  min-height: 750px;
}*/

.dropdown-toggle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}
.add-review { margin-right: 15px; }
.social-icons.social-tab li:last-child { margin-top: -5px; }
.chef-article > figure { margin-right: 10px; }
.become-btn.add-review{
   background: #acacac;
  border: 0 none;
  color: #fff!important;
  font-size: 14px;  
  padding: 5px 10px;
  transition: all 0.5s ease 0s;
}
.become-btn.add-review:hover {
  background: #8d8d8d;
  color: #fff!important;
}
#tomorrow_div > div#loader_div_second { padding: 15px 0; }

.myprofile-text {background: none repeat scroll 0 0 #cfcfcf;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    text-align: center; color:#000;}
	
.profile-popup .dropdown-menu {padding-top:0px !important;}
.profile-popup .dropdown-menu li {margin-left:0px !important; text-align:center;}
.dropdown-menu .user-name a:hover {background:transparent !important; color:#C72127 !important;}
.dropdown-menu li a:hover {background:transparent !important; color:#C72127 !important;}

.explore-yum-img img 
	{
		border: 1px solid #333333;
		height: 209px;
		width: 304px;
	}
	

@media (max-width:599px){
	.rating-wrap {float: left;
    width: 100%;}
	p {text-align:justify;}
	.profile-top-review {width:100%;  float: left;}
	.profile-btn-main{ margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 232px;}
    .yumCommunity{ margin-bottom:50px; }
    .feature-products {
  margin-bottom:50px;
}
.heading-mini-sm{font-size:17px;margin-top: 0;}
}
@media (min-width:1024px) and (max-width:1376px){
	.home-slider {
    padding: 250px 0;
}
}
@media (min-width:1377px) and (max-width:1920px){
	.home-slider {
    padding: 400px 0;
}
}
@media (max-width:992px){
.explore-yum-img img {
    border: 1px solid #333333;
    height: auto;
    width: 100%;

}
 .yumCommunity{ margin-bottom:80px; }
 .feature-products {
  margin-bottom: 80px;
}
.feature-yum {margin-bottom:10px;}
.pop-up {
    height: auto;
    min-height: 100px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 85px;
    width: 320px;
    z-index: 1;
}

}
@media (max-width:640px){
	.com-thumb h5 { text-align: center; padding: 10px;}
	.com-thumb{ padding: 10px;}
	.feature-products figure.story-img-small { margin-right: 0px;  text-align: center;  width: 100%;}
	.feature-products .com-thumb p { padding-right: 0px;}
	.feature-products figure.story-img-small > img { width: 200px;}
	#exampleModal {padding-right: 0 !important;}
	.pro-box { height: 278px;}
	.signup-main { padding: 15px;}
	
	
}

@media screen and (max-width: 420px){ 
	.btn-h-works { margin-top: 10px;}
	.home-slider .caption .btn-row { text-align: center; width: 100%;}
	.home-slider .caption .btn-row  #ProductRedirectUrlForm{ width: 100%;}
	.home-slider { padding: 50px 0;}
	.caption h1 {
    font-size: 14px !important;
	}
	.community-img {
    text-align: center;
    width: 100% !important;
	}
	.community-text {
    text-align: center;
    width: 100%;
	}
	.yumplate-cart .order {margin-left:15px !important;}
	.mealThumb .nav-tabs li {width: 100%;}
}
@media (max-width:767px){
	.yumplate-cart {overflow: hidden; display:block !important;}
	.yumplate-cart ul  {position: absolute; right: 86px; top: 16px; width: 97px;}
	.header .navbar-default li .cart-btn {
    font-size: 12px;
    overflow: hidden;
    padding: 27px 11px 4px 25px !important;
    text-align: center;
	}
	.desktop-cart {display:none !important;}
}
.yumplate-cart {display:none;}
.explore-yum-img img {margin-bottom:10px;}

.term-and-condition .check-box {float: left;
    width: 20px;}
.term-and-condition .check-box-text {float: left;
    width: 90%;}
	
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #333333 !important;
	
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background: none repeat scroll 0 0 #c61a1a !important;
    color: #ffffff !important;
}
.profile-popup {min-width: 110px;}
#addcoment {display: inline-block;
    margin-bottom: 30px;
    position: relative;}

.mealThumb .nav-tabs > li > a:hover {
    background: none repeat scroll 0 0 #efefef !important;
    color: #595959;
}
.product-comment .reviewLine article {text-align:left;} 


.productReview h5 {
    background: none repeat scroll 0 0 #ececec;
    color: #343434;
    font-family: "muliregular";
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 12px 10px;
    text-align: left;
    text-transform: uppercase;
	 overflow: hidden;
}
.productReview {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #000000;
    margin: 15px 0 30px;
    margin: 0 auto;
    width: 305px;  
}
.productReview figure { 
    max-height: 325px;       
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
	text-align:center;    
}
.productReview figure img {width:100%;}

.profile-top-review a {color:#333;}



/*-----Comming Soon----*/

.comming-soon-main {
	background: url("../images/slider1.jpg") no-repeat scroll 0 0 / cover #000000;
    height: 455px;
    margin: 4.7% auto;
    width: 600px;
	}
.comming-soon-inner {background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.88;
    width: 100%;}
.comming-soon-logo {background: none repeat scroll 0 0 #ffffff;
    padding: 6px 0;
    text-align: center;}
.comming-soon-logo img {width: 200px;}
.comming-soon-main h3{color: #ffffff;
    font-family: "muliregular";
    font-size: 34px;
    margin: 15px 0;
    text-align: center;}
.comming-soon-main .made-in 
	{
		background: none repeat scroll 0 0 #000000;
    border: 3px solid #ffffff;
    margin: 48px auto;
    opacity: 1;
    padding: 8px 12px;
    width: 265px;
	}
.comming-soon-main .made-in h2
	{
		 color: #ffffff;
    font-family: "muliregular";
    font-size: 26px;
    font-weight: bold;
    margin: 0;
	}
.comming-soon-inner h4 {color: #ffffff;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 350px;
	font-family: "muliregular";}
.comming-soon-inner p{color: #ffffff;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 350px;
	font-family: "muliregular";
	margin-top:20px;}
.comming-soon-inner .input-group-field {width: 350px; margin: 25px auto;}
.comming-soon-inner ul {background: none repeat scroll 0 0 #ffffff;
    margin: 0;
    padding: 5px 0;}
/*-----Comming Soon End----*/

.likePopup{ position: fixed; background: rgba(0,0,0,0.5); top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; padding-top: 78px; overflow-y: scroll; padding-bottom:20px;}
.likePopup .close-btn {background: none repeat scroll 0 0 #dddddd;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    padding: 6px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
	}
.likePopup .close-btn:hover {background: none repeat scroll 0 0 #cacaca;
    color: #C72127;
    
	}

.likePopup .signup-main{ background: #fff;  }
.become-btn{float:right;}
.adright{float: right; margin-right: 10px;}
.ask-k{background:url(../img/ask.jpg) center top no-repeat; background-size:70%; height:25px; float:right; width:50px; height:40px;}
.yemcenter{text-align:center;}

/*================== pop up styling ======================*/
.outer{ overflow:hidden;}
.layout{max-width:650px; margin:0 auto; border:2px solid #000; min-height:230px;}
h2{font-size:12px; padding-left:5px; position:relative; color:#000; line-height:20px; border-bottom:2px solid #000;}
.cross{display:block; width:15px; height:15px; position:absolute; right:10px; top:4px;
 background:url(../images/cross.jpg) center top no-repeat;}
.content{padding:35px 0px 10px 40px; overflow:hidden;}
.content label{font-size:13px;width:80px; float:left;}
.content ul li{margin-bottom:10px; overflow:hidden;}
.txtname{width:100px;}
.txtemail{width:150px;}
.txtphone{width:175px;}
.txtabout,.pic-time{width:185px;}
.txtabout,.txtphone,.txtemail,.txtname,.pic-time,.pic-time{border:2px solid #000; height:20px;}
.pic-time{height:25px;}
.txtabout,.txtphone,.txtemail,.txtname,.pic-time,.txtarea,.content ul li strong{font-family: 'Open Sans', sans-serif; font-size:12px; line-height:15px;}
.txtarea{width:435px; height:117px; padding-left:5px; resize:none; padding-top:5px;  height:116px; border:2px solid #000;}
.sbmit{width:85px; font-family: 'Open Sans', sans-serif; font-size:12px; border:2px solid #000; float:right; cursor:pointer; display:block; margin-top:10px;}
.content ul{width:446px; float:left;}
.m-left{float:left; width:58%;}
.m-right{float:right; width:38%; text-align:right;}
.m-right strong,.m-right strong{display:inline-block;}

.signup-main{text-align:center; padding:25px; overflow:hidden;}
.signup-main h3,.signup-main h5{font-weight:normal;}
.signup-main h3 { position:relative; font-size: 30px; line-height:35px; padding-bottom:10px;}
.signup-main h5{font-size:15px; line-height:20px;}
.facebook{display:inline-block; width:224px; height:46px; margin-top:20px; margin-bottom:20px;}
.facebook img{width:100%;}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	box-sizing:border-box;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.term-and-condition .check-box {
    float: left;
    width: 20px;
}
.term-and-condition .check-box-text {
    float: left;
    width: 90%;
}
.forget-link {
    display: block;
    margin-left: 10px;
    text-align: left;
}
.forget_pass,.forget-link{font-size: 14px; line-height:18px;  color: #343434;}
.become-btn {
    float: right;
}
.become-btn {
    background: #ff5a00 none repeat scroll 0 0;
    color: #ffffff !important;
    height: 30px;
	border-radius:8px;
    margin-top:3px;
	cursor:pointer;
    padding: 5px 7px !important;
    transition: all 0.7s ease 0s;
}

.forget_pass {
    clear: both;
    display: inline-block;
    float: left;
}
.close-btn {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 5px;
    color: #000000;
	line-height:15px;
    font-size: 15px;
    padding: 6px 10px;
    position: absolute;
    right:0px;
    top: 20px;
}
.close-btn:hover {
    background: #cacaca none repeat scroll 0 0;
    color: #c72127;
}
.outer{background:rgba(0, 0, 0, 0.5);}
.page3 .signup-main{background:#fff;}
.page3{border:0px;}
.page3 li{overflow:hidden;}
.login lable{text-align:left; float:left;}
.page3 li label{width:13%;float:left; font-weight:bold!important; font-size:12px; line-height:17px; text-align:left;}
.page3 li .form-control{width:86%; margin:7px 5px 7px 0px; float:left;}
.page3 .pic-time,.typearea{border:1px solid #ccc; float:left; color:#555}
.typearea{width:86%; margin:7px 5px 7px 0px; box-sizing:border-box;  height:120px; resize:none; border-radius:4px; padding:5px 0px 0px 5px;}
.typearea,.page3 .become-btn,.page3 li span{font-family: 'Open Sans', sans-serif; font-size:13px; color:#555;}
.page3 .become-btn {float: right !important; width: auto !important;}
.signup-main ul{padding-left:0px;}
.page3 h3{text-align:left; font-size:18px;}
.page3 .close-btn{top:0px;}
.page3 li span{float:left; line-height:25px;}
.page3 li .m-left label{width:20%!important;} 
.page3 li .m-right span{float:right;}
.form-control:focus,.typearea:focus{box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.add-section{overflow:hidden;}
.add-section .adright{margin-top:5px;}

.fb-share-button.front {
  background: none repeat scroll 0 0 #2a5e9a;
  height: 29px;
  vertical-align: top;
  width: 150px;
}
.fb-share-button.front iframe {
  left: 21px;
  position: relative;
  top: 4px;
}
.fb-share-button span{
 height: 30px !important;
}